.card {
  display: flex;
  padding: 12px 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  flex: 1;
  border-radius: 16px;
  background: #1a1a1a;
}
.border {
  display: flex;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid rgba(225, 234, 229, 0.5);
  background: #272727;
}
.chip {
  display: flex;
  font-family: "Roboto Flex", sans-serif;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 45px;
  background: #272727;
}
