.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #272727;
  background: #1a1a1a;
  box-shadow: 0 2px 250px 0 rgba(62, 93, 82, 0.4);
  z-index: 9999px;
}
.logo {
  color: #e1eae5;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}
.menus {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.menu {
  color: #e1eae5;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  text-transform: uppercase;
}
.active {
  color: #a7beb4;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  text-transform: uppercase;
}
.menu_button {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  background: var(--color-background);
}

/* responsive media queries */
/*
 * -----------------------------------------------------------------
 * MEDIA QUERY BREAKPOINTS (MIN-WIDTH: MOBILE-FIRST)
 * start: 320px | end: 1920px (or higher for 4K screens)
 * -----------------------------------------------------------------
 */

/* -------------------------------------------------------- */
/* 1. BASE: All devices (min-width: 320px start)*/
/* All device styles here (small to maximum devices) || mobile-first */
/* -------------------------------------------------------- */
.menu_button {
  display: flex;
  padding: 16px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  background: var(--color-background);
}
/* -------------------------------------------------------- */
/* 2. SMALL PHONES / MEDIUM PHONES (MIN-WIDTH: 480px) */
/* iPhone SE, Google Pixel, etc. */
/* -------------------------------------------------------- */
@media (min-width: 480px) {
}

/* -------------------------------------------------------- */
/* 3. LARGE PHONES / PORTRAIT TABLETS (MIN-WIDTH: 600px) */
/* Phone Tablets, Small Tablets */
/* -------------------------------------------------------- */
@media (min-width: 600px) {
}

/* -------------------------------------------------------- */
/* 4. STANDARD TABLETS / SMALL LAPTOPS (MIN-WIDTH: 768px) */
/* iPad, Mobile Landscape */
/* -------------------------------------------------------- */
@media (min-width: 768px) {
}

/* -------------------------------------------------------- */
/* 5. STANDARD DESKTOPS (MIN-WIDTH: 1024px) */
/* Standard Laptops and Monitors */
/* -------------------------------------------------------- */
@media (min-width: 1024px) {
  .menu_button {
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    background: var(--color-background);
  }
}

/* -------------------------------------------------------- */
/* 6. LARGE DESKTOPS / WIDE SCREENS (MIN-WIDTH: 1440px) */
/* HD Monitors */
/* -------------------------------------------------------- */
@media (min-width: 1440px) {
}

/* -------------------------------------------------------- */
/* 7. ULTRA-WIDE / 4K SCREENS (MIN-WIDTH: 1600px) */
/* -------------------------------------------------------- */
@media (min-width: 1600px) {
}
