:root {
  --radius: 0.625rem;
  --background: #0f0f0f;
  --foreground: #a7beb4;
  --card: oklch(1 0 0);
  --card-foreground: #1a1a1a;
  --popover: oklch(1 0 0);
  --popover-foreground: #1a1a1a;
  --primary: #3e5d52;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #f3f6f5;
  --secondary-foreground: #1a1a1a;
  --muted: #f3f6f5;
  --muted-foreground: oklch(0.556 0 0);
  --accent: #f3f6f5;
  --accent-foreground: #1a1a1a;
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: #1a1a1a;
  --sidebar-primary: #1a1a1a;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #f3f6f5;
  --sidebar-accent-foreground: #1a1a1a;
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #0f0f0f;
  --foreground: #a7beb4;
  --card: #1a1a1a;
  --card-foreground: oklch(0.985 0 0);
  --popover: #1a1a1a;
  --popover-foreground: oklch(0.985 0 0);
  --primary: #3e5d52;
  --primary-foreground: #1a1a1a;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #1a1a1a;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
